body {
  margin: 0;
  padding: 0; /*Para que la imagen o color de fondo no deje bordes blancos*/
  background-color: rgb(27, 18, 14);
}
.bodymap {
    margin: 0;
  padding: 0; /*Para que la imagen o color de fondo no deje bordes blancos*/
  background-color: rgb(27, 18, 14);
  background-image: url(https://preview.redd.it/x428m90hsqc41.jpg?auto=webp&s=1919acd02748669b40d3ccbdf53bae6fca2489e9);
  background-size: 100%;
}

.title {
  font-size: 100px;
  text-align: center;
  color: rgb(45, 41, 61);
  -webkit-text-stroke: 0.5px white;
  -webkit-text-fill-color: rgb(0, 0, 0); /*Crea outline blanco en el texto*/
}

.title span {
  display: block;
}

.list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 50px;

  & :hover {
    transform: scale(1.2);
    transition: transform 0.2s ease;
    color: rgb(219, 118, 23); /*Cambio de tamaño y color al pasar el raton por encima*/
    background-color: rgba(83, 63, 46, 0.5);
  }
}

.listitems {
  font-size: 50px;
  background-color: rgba(46, 46, 46, 0.5) ;
  border-radius: 3px;
  text-decoration: none;
  color: inherit;
}

.center {
  @media (max-width: 800px) {
    flex-direction: column; /*Auto ajuste de la pagina a una ventana mas pequeña*/
  }
}

.header {
  background-image: url(https://preview.redd.it/just-remembered-i-havent-done-an-ultra-wide-screen-shot-in-v0-55e9o7uigdfd1.png?auto=webp&s=9fd038ade831f7b6bf5a67eff3bdacf50a3dc4f9);
  background-size: 100%;
  background-position: 80%; /*Imagen de fondo de cabezara y ajustes de escala y posición*/
  background-color: darkgrey;
  display: flex; /*Para que el header esté en horizontal*/
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 10px;
  color: aliceblue;
  border: n;
}
.headermap {
  background-size: 100%;
  background-position: 80%; /*Imagen de fondo de cabezara y ajustes de escala y posición*/
  display: flex; /*Para que el header esté en horizontal*/
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 10px;
  color: aliceblue;
  border: n;
}

.login {
  align-self: flex-start; /*Para que se coloque arriba a la derecha*/
  background-color: rgba(255, 255, 255, 0.4);
  color: black;
  padding: 8px 16px;
  border-radius: 8px; /*Para que se redondee el boton*/
  font-weight: bold;
  cursor: pointer; /*Cambio de curson a manita cuando estas encima del boton*/
}

.login:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease;
  background-color: aliceblue; /*Cambio de tamaño suavizado y color al pasar por encima*/
}

.parrafo1 {
  font-size: 60px;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 0;
  margin: 0;
}
